body{
  background-color: black;
}

.nav-link{
  color: white;
}

.carousel slide{
  
}

li::marker{
  font-size:0;
}

.vortex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}