body{
  background-color: black;
}

.btn-alem{
   background-color: #ffffff; /* cor desejada */
   color: rgb(0, 0, 0);
   border-radius: 60px;
   margin-left: 0px;
}

 .btn-alem:hover {
    background-color: #ffffff;
  }

  .mt-custom1{
    margin-top: 100px;
  }
